main {
    /* added so that input form will center using bulma classes */
    height: 100vh;
    display: flex;
}

.custom-card {
    border-radius: 1rem;
    /* change to color scheme variables and get rid of bulma css */
    /* background-color: (color scheme variable) */
}

.gg-pokemon {
    box-sizing: border-box;
    position: relative;
    display: inline;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border: 5px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset 0 0 0 2px;
    border-radius: 100%
}
   
.gg-pokemon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 2px;
    border-left: 8px solid;
    border-right: 8px solid;
    left: -6px;
    top: 3px
   } 

#card-container { 
    width: 800px; 
}

#game-container {
    width: 800px;
    position: relative;
    left: 260px;
    margin-bottom: 20px;
}

aside {
    float: left;
}

.pkmn-avatar {
    position: relative;
    left: 35px;
    margin-top: 20px;

}